body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

.topCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 400px;
    background-color: #1F2937;
}

.topHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30px;
}

.topHeadLeft h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.bigTop {
    display: flex;
    width: 80%;
    background-color: #1F2937;
    height: auto;
}

.bigTopTitle {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.bigTopP {
    font-size: 18px;
    color: #E5E7EB;
}

.signUp {
    min-height: 30px;
    min-width: 80px; 
    padding: 8px 8px;
    border: none;
    border-radius: 10%;
    background-color: #3882F6;
}

.signUp:hover {
    background-color: yellow;
    transition: 0.5;
}

.topHeadRight {
    display: flex;
    gap: 20px;

}

.bigTopLeft {
    width: 50%;
    margin-right: 5%;
}

.bigTopRight {
    width: 50%;
    background-color: blueviolet;
}